---
layout: layouts/base.njk
---
<!-- Post -->
<section class="post">
	<header class="major">
		<span class="date">{{last_updated | safe}}</span>
		<h1>{{title | safe}}</h1>
		<p>{{exerpt | safe}}</p>
	</header>
	{{ content | safe}}
</section>