<nav id="nav">
    <ul class="links">
        <li class="active"><a href="{{'/' | url}}">Home</a></li>
        <li><a href="{{ '/generic' | url }}">Introduction</a></li>
        <li><a href="{{ '/generic' | url }}">For Business</a></li>
        <li><a href="{{ '/generic' | url }}">For Education</a></li>
        <li><a href="{{ '/elements' | url }}">Resources</a></li>
        <li><a href="{{ '/About' | url }}">About</a></li>
    </ul>
    <ul class="icons">
        <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
        <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
        <li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
    </ul>
</nav>