<nav id="nav">
    <ul class="links">
        <li class="active"><a href="{{'/' | url}}">Home</a></li>
        <li><a href="{{ '/intro' | url }}">Introduction</a></li>
        <li><a href="{{ '/business' | url }}">For Business</a></li>
        <li><a href="{{ '/education' | url }}">For Education</a></li>
        <li><a href="{{ '/resources' | url }}">Resources</a></li>
        <li><a href="{{ '/about' | url }}">About</a></li>
    </ul>
    <ul class="icons">
        <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
        <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
        <li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
    </ul>
</nav>